body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#stats {
    position: absolute;
    top: 0;
}

#app {
    height: 100%;
}

.app-inner {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

#side-bar {
    grid-column: 1 / 2; /* левая колонка, строится по высоте сетки */
    grid-row: 1 / 3;    /* занимает обе строки */
}

#pixi-canvas {
    grid-column: 2 / 3; /* правая колонка */
    grid-row: 1;        /* верхняя строка */
}

#skia-canvas {
    grid-column: 2 / 3; /* правая колонка */
    grid-row: 2;        /* нижняя строка */
    position: relative;
}

#side-bar {
    padding: 20px;
    box-sizing: border-box;

    button {
        padding: 10px 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}

.canvas-label {}


#loading {
    position: absolute;
    top: 100px;
    left: 300px;
}